@media screen and (max-width: 480px) {
    
    .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width:auto;
    }   

    .caixa{
        margin:0;
        font-size:8px;
        
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .lista-beneficios, .imagem-beneficios{
        width: 100%;
    }

    .produtos{
        width: 90%;
        margin:auto;
        max-width: max-content;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

